/* CSS for index.html */ 

@import url('https://fonts.googleapis.com/css?family=Lato');


.back-text-color { /* color of text on the back of each card */
	color: #333;
}
			
			
.bg {
	/* background image */
	background-image: url("../pics/background_v1.png");
	height: 420px; 
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#myVideo {
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
	width: 102%;
}


u { /* custom underline */
	border-bottom: solid 3px #ff7e70;
    display: inline;
    padding-bottom: 1px;
}

a.redlink {
color: #0f6bff;
color: #ff0077;
}

a.sublink-active {
color: #0f6bff;
color: #ff0077;
text-transform: uppercase;
font-size: 75%;
word-spacing: 3pt;
letter-spacing: 0.5pt;
font-weight: bold;
}

a.sublink-inactive {
color: #cccccc;
text-transform: uppercase;
font-size: 75%;
word-spacing: 3pt;
letter-spacing: 0.5pt;
font-weight: bold;
}

#title {
color: #333;
font-family: Lato, 'sans-serif' !important;
font-size: 280%;
text-align: center;
letter-spacing: 1pt;
}

.sub-title {
color: #222;
font-family: Lato, 'sans-serif' !important;
font-size: 105%;
text-align: justify;
word-spacing: 2pt;
line-height: 140%;
padding: 0px 240px 0px 240px;
}


* { /* ligature */
    text-decoration: none;
    font-variant-ligatures: none;  
}

body {
	background-color: white;
	margin: 0px;
	font-family: Arial, Tahoma; 
	font-size: 15px; 
	color: #222; 
	text-align: center;	
}

.box1 p { color: #ffffff;
  padding-top: 32px;
  letter-spacing: 5px;
  line-height:30px;
}

.box2 p code a{ color: #ffffff;
font-size: 120%;  
letter-spacing: 0px;
line-height: 20px;
 text-decoration: underline; 
}

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

.panel {
	margin: 0 auto;
	height: 130px;  
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}

.box1{
	background-color: #333;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box2{
	background-color: #ff7e70;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


/* collapsable list */
  
}
.chapters-container{
  background:#fff;
  color: #fff;
  box-shadow: 1px 1px 1px 1px red;
}
.chapters-container input[type='checkbox'] ~ .description{
  transition: .3s ease-in;
}

.chapters-container input[type='checkbox']:checked ~ .one_col .description {
  height:50px;
}

.chapters-container input[type='checkbox']:checked ~ .two_col .description {
  height:80px;
}

.chapters-container input[type='checkbox']:checked ~ .three_col .description {
  height:110px;
}

.chapters-container input[type='checkbox']:checked ~ .four_col .description {
  height:140px;
}

.chapters-container input[type='checkbox']:checked ~ .five_col .description {
  height:170px;
}

.chapters-container input[type='checkbox']:checked ~ .six_col .description {
  height:200px;
}

.chapters-container input[type='checkbox']:checked ~ .seven_col .description {
  height:230px;
}

.chapters-container input[type='checkbox']:checked ~ .eight_col .description {
  height:260px;
}

.chapters-container input[type='checkbox']:checked ~ .nine_col .description {
  height:290px;
}

.chapters-container input[type='checkbox']:checked ~ .ten_col .description {
  height:320px;
}

.chapters-container input[type='checkbox']:checked ~ .eleven_col .description {
  height:350px;
}

.chapters-container input[type='checkbox']:checked ~ .twelve_col .description {
  height:380px;
}


.chapters-container input[type='checkbox']{
  width: 100%;
  display: none;
}
.chapters-container label{
  width: 67%; /* box width */
  max-width: 100%;
  cursor: pointer;
  display: inline-block;
  /*border-bottom:1px solid red;
  border-top:1px solid red;
  border-left:1px solid red;
  border-right:1px solid red;*/
  position:relative;
}
.chapters-container label:before,
.chapters-container label:after{
  width:2px;
  height:15px;
  background:#444;
  display:inline-block;
  position:absolute;
  content:"";
  z-index:99;
  left:25px; /* margin for + */ 
  top:12px;
  transform:rotate(90deg)
}

.chapters-container label:after{
  transform:rotate(0deg)
}
.chapters-container input[type='checkbox']:checked ~ label:after{
  transform:rotate(90deg)
}
.chapters-container input[type='checkbox']:checked ~ label{
  
}
.chapters-container label span{ /* chapter title */
  font-weight: bold;
  color: #444;
  display: block;
  padding: 10px 12px 12px 45px;
  margin: 0;
  text-align: left;
}
.description{
  background: white;
  text-align: left;
  font-family: Lato, 'sans-serif' !important;
  color: #222;
  width: 67%;
  height: 0;
  color: #222;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  transition: .4s ease-in-out;
} 
.description p{
  line-height: 13px;
  padding-right: 10px;
}
.chapters-container label{
    background: #efeee6;   
}








