.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 67px;
  background-color: #0D1415;
  padding-top: 20px;
}

li.menu-item {
	display: inline;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}
				
span.menu-item {
	font-size:66%;
	letter-spacing: 2px;
	color:#C7C7C2;
}

li.active {
	border: 1px solid #C7C7C2;
}

a.reset{
	all: unset;
	}			