@import url('https://fonts.googleapis.com/css?family=Lato');

			*,
*:before,
*:after {



  border: none;
  padding: 0;

}


form {
  max-width: 840px;
  margin: 0 auto;
  font-size: 65%;
  font-family: Lato, 'sans-serif' !important;

}

input {
  float: left;
  background-color: white;
  color: #111;
  border: 1px solid #333;
  width: 58%;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
  margin-left: 100px;
}

button {
  float: left;
  border: 4px;
  margin-left: 10px;
  background-color: #ff7e70;
  color: white;
  width: 15%;
  height: 42px;
  font-size: 1.5em;
  border-radius: 5px;
 

}

button:hover {
  background-color: #444;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}





